<%= form_for laboratory, method: method, url: path do |f| %>
<div class="form-group row">
    <%= f.label :Nombre, class: "col-md-3 col-form-label" %>
    <div class="col-md-9 input-wrapper">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :Correo  , class: "col-md-3 col-form-label" %>
    <div class="col-md-9 input-wrapper">
      <%= f.text_field :email %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :Dirección, class: "col-md-3 col-form-label" %>
    <div class="col-md-9 input-wrapper">
      <%= f.text_field :address%>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :Teléfono, class: "col-md-3 col-form-label" %>
    <div class="col-md-9 input-wrapper">
      <%= f.text_field :phone %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :Descripción, class: "col-md-3 col-form-label" %>
    <div class="col-md-9 input-wrapper">
      <%= f.text_area :description %>
    </div>
  </div>
  <div class="sical-form-buttons">
    <div class="text-center">
      <%= link_to "Cancelar", laboratories_path, class: "btn btn-primary sical-btn-cancel" %>
      <%= f.submit "Guardar", class: "btn btn-primary", data: {disable_with: 'Please Wait...'}  %>
    </div>
  </div>
<% end %>