<div class="material-datatables">
  <table id="category-table" class="table table-no-bordered table-hover sical-data-table" data-placeholder="Buscar Categorias">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% sample_categories.each do |sample_category| %>
        <tr>
          <td><%= sample_category.name %></td>
          <td><%= sample_category.description %></td>
          <td>
            <%= link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, sample_category_path(sample_category), class: "btn btn-info btn-sm",title: "Ver", method: :get%>
            <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_sample_category_path(sample_category), class: "btn btn-success btn-sm", data: { "toggle" => "tooltip" }, title: "Editar" %>
            <%= link_to toggle_status_sample_category_path(sample_category), id: "sample-category-lock-#{sample_category.id}", class: "btn btn-danger btn-sm", data: { toggle: "tooltip" }, title: "Activar/Desactivar", method: :put, remote: true do %>
                  <% if sample_category.active %>
                    <i class="fa fa-unlock" aria-hidden="true"></i>
                  <% else %>
                    <i class="fa fa-lock" aria-hidden="true"></i>
                  <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
     </tbody>
  </table>
</div>