<table class="table table-no-bordered table-hover">
  <thead>
    <th>Código PUCP</th>
    <th>Código Cliente</th>
    <th>Categoria de Muestra</th>
    <th>Método de Ensayo</th>
  </thead>
  <tbody>
    <tr>
      <td><%= f.text_field :pucp_code %></td>
      <td><%= @processed_sample.preliminary_order.name %></td>
      <td><%= @processed_sample.preliminary_order.sample_category.name %></td>
      <td><%= @processed_sample.preliminary_order.sample_method.name %></td>
    </tr>
  </tbody>
</table>
<%= render 'filling_up_sample_features_edit', f: f %>
<%= form_for @custody_order, url: employee_custody_order_path, :wrapper => false,  method: :put do |f| %>
  <div class="text-center">
    <br></br>
    <h4>Observaciones</h4>
    <%= f.text_area :supervisor_observation, :cols => "40", :rows => "5" %>
  </div>
<% end %>
