<%= form_for custody_order, url: path, :wrapper => false,  method: :put do |f| %>
  <div id="information" class="tabcontent" style="display: block;">
    <h3>Información</h3>
      <%= render 'show_basic_information', service: service, sample: sample, f: f %>
  </div>

  <div id="custody" class="tabcontent">
    <%= render 'filling_up_sample', sample: sample, rows: rows, cols: cols %>
  </div>

  <div class="form-group">
    <div class="text-center save-worker">
      <%= link_to "Cancelar", employee_custody_orders_path, class: "btn btn-primary sical-btn-cancel" %>
      <%= f.submit "Guardar", class: "btn btn-primary", data: {disable_with: 'Please Wait...'}  %>
    </div>
  </div>
<% end %>
