<div class="card">
  <div class="content">
    <div class="header card-header-text sical-card-header">
      <h1 class="page-header title sical-card-title">Roles <small>Ver</small></h1>
    </div>
    <div class="form-horizontal validate sical-form sical-form-validated">
      <div class="form-group row">
        <label class="col-md-3 col-fom-label">Nombre :</label>
        <div class="col-md-9">
          <%= @role.name %>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3">Descripción :</label>
        <div class="col-md-9">
          <%= @role.description %>
        </div>
      </div>
      <div class="form-group ">
        <label class="col-md-3 col-fom-label">Permisos :</label>
      </div>
      <div class="col-md-9 offset-md-3">
        <table class="table table-no-bordered table-hover">
          <thead>
            <th>Menú</th>
            <th>Crear</th>
            <th>Ver</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </thead>
          <tbody>
            <% @role.menu_actions.each do |action| %>
              <tr>
                <td><%= action.menu.navigation_name %></td>
                <td>
                  <input disabled="" type="checkbox" <%= action.create ? "checked" : "" %> />
                </td>
                <td>
                  <input disabled="" type="checkbox" <%= action.view ? "checked" : "" %> />
                </td>
                <td>
                  <input disabled="" type="checkbox" <%= action.edit ? "checked" : "" %> />
                </td>
                <td>
                  <input disabled="" type="checkbox" <%= action.status ? "checked" : "" %> />
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>  
      </div>
      <div class="form-group">
        <div class="text-center">
          <%= link_to "Regresar", roles_path, class: "btn btn-primary sical-btn-cancel" %>
        </div>
      </div>
    </div>
  </div>
</div>