 <%= form_for @custody_order, url: custody_check_update_supervisor_custody_order_path, :wrapper => false,  method: :put do |f| %>
  <div id="service" class="tabcontent" style="display: block;">
    <h3>Información</h3>
    <%= render 'show_basic_information', service: @service, f: f %>
  </div>
  <div id="custody" class="tabcontent">
    <h3>Revisión</h3>
    <%= render 'custody_information', sample: @processed_sample, f: f %>
  </div>
  <div class="form-group">
    <div class="text-center save-worker">
      <%= link_to "Cancelar", supervisor_custody_orders_path, class: "btn btn-primary sical-btn-cancel" %>
      <%= f.submit "Asignar", class: "btn btn-primary", data: {disable_with: 'Please Wait...'}  %>
    </div>
  </div>
<% end %>